table td {
    background: #C9DAF8;
}

table tr:nth-child(odd) td {
    background: #fff;
}

.topicpath {
    text-align: left;
    position: absolute;
    top: 70px;
}

.my-body {
    position: absolute;
    top: 150px;
    width: 100%;
}

.table-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.table-block table {
    width: 100%;
    text-align: center;
    border-color: #B9B9B9;
}