@charset "UTF-8";

/* ヘッダー以下の表示内容の位置固定 */
.positionsinfo{
	margin-top:70px;
	margin-left:0px;
}

/* 選択したテストセット名表示 */
#testname-comments{
	position: fixed;
    top: 120px;
    left: 80px;
}

/* 選択された内容を表示するテキストボックス　枠なし */
.choiseinfo{
	font-size:20px;
	border-width:0px;
	border-style:None;
	backgroundcolor:rgba(0,0,0,0);
}

/* 公開設定期間 */
#testinfo-comments{
	position: fixed;
    top: 130px;
    left: 520px;
}

/* 各情報を囲むレイアウト */
.surround {
	padding : 2px;
	padding-right: 10px;
	border : 1px solid;
	border-color : black;
	border-radius : 5px;
	disprai : block;
	font-size:20px;
}


/* 表の位置・幅 */
#infocomments{/* 表のヘッダー */
	position: fixed;
    top: 200px;
    left: 150px;
    border: 1px solid #B9B9B9;
    border-collapse: collapse
}

#infocomments-data{/* 表の内容　スクロール可能 */
	position: fixed;
    top: 252px;
    left: 150px;
    overflow: auto;
    height:300px;
}

.infocomments-number{/* 従業員番号の列 */
	width:120px;
	height:40px;
}
.infocomments-name{/* 従業員の名前の列 */
	width:180px;
	height:40px;
}
.infocomments-comments{/* 意見要望の列 */
	width:500px;
	height:40px;
}

/* Excel出力ボタンの位置 */
#btn-excel-place{
	position: fixed;
    top: 540px;
    left: 780px;
}
