@charset "UTF-8";
#create_quetions{

	 margin-right: 200px

}

#pass_line{
	margin-right: 129px;
}

#opening_period{
	margin-left: 135px
}

table{
	margin-left: auto;
	margin-right: auto;
}
