table td {
    background: #C9DAF8;
}

table tr:nth-child(even) td {
    background: #fff;
}

.table-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.table-block table {
    width: 100%;
    text-align: center;
    border-color: #B9B9B9;
}