.display-table {
    width: 100%;
    border-collapse: collapse;
}

.display-table th {
    border: 1px solid #B9B9B9;
}

.display-table td {
    background: #C9DAF8;
    border: 1px solid #B9B9B9;
    border-collapse: collapse;
}

.input-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.table-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}