.my-body {
    position: absolute;
    top: 150px;
    width: 100%;
}

.testset-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.testset-block__testset {
    margin-bottom: -2.4%;
}

.testset-block__radio {
    margin-left: 22%;
}

.table-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.excel-button-layout {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}