@charset "UTF-8";

.breadcrubs {
  padding-left:0;
  margin-left:0;
}

.breadcrubs li{
  display:inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrubs li:after {/* >を表示*/
  content: '>';
  padding: 0 3px;
  color: #555;
}

.breadcrubs li:last-child:after {
  content: '';
}

.breadcrubs li a {
  text-decoration: none;
  color: #52b5ee;/*色*/
}

.breadcrubs li a:hover {
  text-decoration: underline;
}

.surround {
	padding : 2px;
	padding-right: 5px;
	border : 1px solid;
	border-color : black;
	border-radius : 5px;
	dispral : block;
}

.excelbutton{
	color : white;
	background-color : blue;
}

.no{
	color : blue;
}

.yes{
	color : red;
}

#result{
width: 500px;
height: 300px;
}

#info{
width: 500px;
height: 100px;
}

.positions{

	margin-top:1000px;
	margin-left:300px;
}
/* #testinfo{
	position:absolute;
	left:25px;
}
#choicebutton{
	position:absolute;
	left:400px;
}
#succesline{
	position:absolute;
	left:550px;
} */
